<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>welcomeBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,512}}</string>
                <key>sourceSize</key>
                <string>{286,512}</string>
            </dict>
            <key>zt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,38},{140,34}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{140,34}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>zt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{160,34}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{160,34}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>zt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{180,34}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{180,34}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>welcomeBg.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a18058318ca43c6e26122896df92fd24$</string>
            <key>textureFileName</key>
            <string>welcomeBg.png</string>
        </dict>
    </dict>
</plist>
